<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delete a Movie</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="/">
                      Movie Actions
                  </a>
                </li>
                <li>
                    <a href="/insert">Insert a Movie</a>
                </li>
                <li>
                    <a href="/update">Update a Movie</a>
                </li>
                <li>
                    <a href="/delete">Delete a Movie</a>
                </li>
                <li>
                    <a href="/search">Search movie based on actor</a>
                </li>
                <li>
                    <a href="/stats">Print Movie Stats</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Delete a movie</h1>
                <form class="form-horizontal" action="delete_movie" method="post">
                  <div class="col-xs-4">
                    <label for="ex2">Title</label>
                    <input class="form-control" id="ex2" type="text" name="delete_title">
                  </div>
                  <button type="submit" class="btn btn-info">Delete Movie</button>
                </form>
                <br>
                <button type="button" id="menu-toggle" class="btn">Toggle Menu</button>
            </div>
            <div id="page-content-wrapper">
              <div class="container-fluid">
                <br>
                {% if errmsg is not none %}
                  <p>{{ errmsg }}<p>
                {% endif %}
              </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
