<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search movie by actor</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="/">
                      Movie Actions
                  </a>
                </li>
                <li>
                    <a href="/insert">Insert a Movie</a>
                </li>
                <li>
                    <a href="/update">Update a Movie</a>
                </li>
                <li>
                    <a href="/delete">Delete a Movie</a>
                </li>
                <li>
                    <a href="/search">Search movie based on actor</a>
                </li>
                <li>
                    <a href="/stats">Print Movie Stats</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <h1>Search for a movie</h1>
              <form class="form-horizontal" action="search_movie" method="post">
                  <div class="col-xs-2">
                    <label for="ex1">Actor</label>
                    <input class="form-control" id="ex1" type="text" name="search_actor">
                  </div>
                  <button type="submit" class="btn btn-info">Search Movie</button>
              </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- Print results -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <h1>Search reuslts:</h1>
            <br>
            <h2>Title, Year, Actor</h2>
            {% for movie in movies %}
                <div>
                    <li><{{ movie[0], movie[1], movie[2] }}</li>
                </div>
            {% endfor %}
            {% if errmsg is not none %}
              <p>{{ errmsg }}<p>
            {% endif %}
            <button type="button" id="menu-toggle" class="btn">Toggle Menu</button>
          </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
