<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Print movie stats</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="/">
                      Movie Actions
                  </a>
                </li>
                <li>
                    <a href="/insert">Insert a Movie</a>
                </li>
                <li>
                    <a href="/update">Update a Movie</a>
                </li>
                <li>
                    <a href="/delete">Delete a Movie</a>
                </li>
                <li>
                    <a href="/search">Search movie based on actor</a>
                </li>
                <li>
                    <a href="/stats">Print Movie Stats</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Print Movie Stats</h1>
                <form action="highest_rating" method="get">
                  <br>
                  <button type="submit" class="btn btn-info">Highest Rating Movie</button>
                </form>
                <br>
                <form action="lowest_rating" method="get">
                  <button type="submit" class="btn btn-info">Lowest Rating Movie</button>
                </form>
                <br>
                <button type="button" id="menu-toggle" class="btn">Toggle Menu</button>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <h2>Title, Year, Director, Actor, Release Date, Rating</h2>
            <br>
            <div>
              {% for movie in movies %}
                  <div>
                      <li>{{ movie[0], movie[1], movie[2], movie[3], movie[4], movie[5] }}</li>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
