<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Update movie</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Movie Actions
                    </a>
                </li>
                <li>
                    <a href="/insert">Insert a Movie</a>
                </li>
                <li>
                    <a href="/update">Update a Movie</a>
                </li>
                <li>
                    <a href="/delete">Delete a Movie</a>
                </li>
                <li>
                    <a href="/search">Search movie based on actor</a>
                </li>
                <li>
                    <a href="/stats">Print Movie Stats</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <h1>Update a movie</h1>
              <form class="form-horizontal" action="update_movie" method="post">
                <div class="col-xs-2">
                  <label for="ex1">Year</label>
                  <input class="form-control" id="ex1" type="number" name="year">
                </div>
                <div class="col-xs-4">
                  <label for="ex2">Title</label>
                  <input class="form-control" id="ex2" type="text" name="title">
                </div>
                <div class="col-xs-4">
                  <label for="ex3">Director</label>
                  <input class="form-control" id="ex3" type="text" name="director">
                </div>
                <div class="col-xs-4">
                  <label for="ex2">Actor</label>
                  <input class="form-control" id="ex2" type="text" name="actor">
                </div>
                <div class="col-xs-3">
                  <label for="ex2">Release Date</label>
                  <input class="form-control" id="ex2" type="text" name="release_date">
                </div>
                <div class="col-xs-2">
                  <label for="ex2">Rating</label>
                  <input class="form-control" id="ex2" type="number" step="0.1" name="rating">
                </div>
                <button type="submit" class="btn btn-default">Update Movie</button>
              </form>
              <br>
              <button type="button" id="menu-toggle" class="btn">Toggle Menu</button>
            </div>
            <!-- Print results -->
            <div class="container-fluid">
              {% if errmsg is not none %}
                <br>
                <p>{{ errmsg }}<p>
              {% endif %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
